{% extends "mash/mash_base.html" %}

{% block body %}
<div id="chListBlock">
<h2>Select channel for your {{ cat }}</h2>
<hr/>
	<form action="/mix/create/auth/" method="post">
		{% for channel in request.session.channel_list %}
			<input type="image" src="{{ STATIC_PREFIX }}images/{{ channel.name }}.png" value="{{ channel.name }}" name="{{ channel.name }}" title="{{ channel.name }}"> 
		{% endfor %}


	</form>
</div>

{% endblock %}
