{% extends "mash/mash_base.html" %}

{% block body %}
<div id="chBox">
<img src="{{ STATIC_PREFIX }}images/{{ request.session.channel }}.png" alt="{{ request.session.channel }}"/>
{% if request.session.access_grant %}
{% else %}
<h3>This channel is currently inactive.</h3>
<form action="" method="post">
       {% if form %}
       {% csrf_token %}
	<table>
	{{form.as_table}}
	</table>
       {% endif %}
<input type="hidden" name="channel" value="{{ request.session.channel }}"/>
<input type="image" src="{{ STATIC_PREFIX }}images/button.png" value="Activate" name="Activate" align="Left"> 
</form>
</div>
{% endif %}
{% endblock %}


