{% extends "mash/mash_base.html" %}

{% block body %}
{% if complete %}
<h2>Mix created...trigger
{% if fired %}
fired
{% else %}
did not fire
{% endif %}
on intial check...will be processed every 15 minutes
</h2>
{% else %}
{% load custom_filters %}
{% load uni_form_tags %}
<h2>Complete your mix</h2>
<hr/>
<div id="mixContainer">
<div id="t_div">
<img src="{{ STATIC_PREFIX }}images/{{ data.t_channel }}.png" alt="{{ data.t_channel }}"/>
<p>{{ data.t_serv|spacer }}</p>
</div>
<div id="e_div">
<img src="{{ STATIC_PREFIX }}images/{{ data.e_channel }}.png" alt="{{ data.e_channel }}"/>
<p>{{ data.e_serv|spacer }}</p>
</div>

</div>
<div>
<form action="" method="post">
  {% if form %}
       {% csrf_token %}
       {{ form|as_uni_form }}
       {% endif %}
 
 <input type="submit" value="Save Your Mix">
</form>
</div>
</div>
{% endif %}
{% endblock %}
