{% include "theme_base.html" %}

{% comment %}
Load static allows the template to connet to static files.
get_static_prefix creates a path prefix to static files.
{% endcomment %}


{% load static %}
{% get_static_prefix as STATIC_PREFIX %} 
<head>
<link href="{{ STATIC_PREFIX }}css/mash.css" rel="stylesheet" type="text/css">
</head>

<div>
{% block body %}

{% endblock %}

{% block listed %}
{% endblock %}

{% block form %}
{% endblock %}
</div>
