{% extends "mash/channel_access.html" %}

{% block listed %}
<div id="servListBlock">

{% if selecting %}
<h2>Select your {{ request.session.channel }} {{ cat }}</h2>
<hr/>
{% load custom_filters %}
{% for serv in service %}
<div class="servBox">
<h5>{{serv.tag|spacer }}</h5>
<hr/>
<p class="servDesc">{{serv.description}}</p>
<br/>
<span class="servButton">

<form action="/mix/create/step{{ request.session.next }}/" method="post">

<input type="image" src="{{ STATIC_PREFIX }}images/select.png" value="Choose" name="{{ serv.tag }}"> 
</form>
</span>
</div>
{% endfor %}
</div>
{% else %}
{% load uni_form_tags %}
<div>
<h2>Complete {{ request.session.channel }} {{ cat }}</h2>
<hr/>

<h3>{{request.session.service.description}}</h3>

<form action="" method="post" class="uniForm">
  {% if form %}
       {% csrf_token %}
	{{ form|as_uni_form }}
       {% endif %}
 
 <input type="submit" value="Create & Continue" name="serv_submit">
</form>

{% endif %}
</div>	
{% endblock %}
