{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}
{% load account_tags %}


{% block head_title %}{% trans "Login" %}{% endblock %}


  <title>{% block title %} {{pagetitle}} {% endblock %} </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  
  
 <STYLE type="text/css">
 #main, #header, #logo, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 20px auto;}

#header
{ width: 1000px;
  height: 145px;}

  #logo
{ width: 950px;
  float: right;
  height: 100px;
  background: transparent;
  padding: 0 0 0px 10px;}

#logo h1
{ font: normal 350% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  float: left;}

#logo h1 a
{ color: #35BDF5;
  text-decoration: none;}

#logo h1 a:hover
{ color: #555;
  text-decoration: none;}
  
.slogan
{ align: right;
  padding-right: 25px;
  text-align: right; 
  font: 180% 'tangerine', arial; 
  color: #111;}
  
  
 body 
  { font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F7F7F7 url(pattern.png) fixed;
  color: #555;}
 
    #bg {
	position:fixed;
	top:0;
	left:0; 

	/* Preserve aspet ratio */
	min-width:100%;
	min-height:100%;
}
  .button {
     float: right;
     font-size:20pt;
     color: white;
     border: 1px solid #006;
     background: navy;
 }
   .button1 {
     font-size:10pt;
     border: 1px solid #006;
     background: orange;
 }
 </STYLE>
 
 

  <div id="main"> 
    <div id="header"> 
      <div id="logo"> {%block logo%}
         <a href="{% url home %}"><h1>Open Mish Mash</a></h1> {%endblock%}
        {% url acct_signup as signup_url %}
	   <!-- <p> <span class="slogan">New to Mish Mash? <h3>"Sign Up"</h3><a href="{{ signup_url }}" class="btn"></a></span></p>-->
</div>
      
       {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p><span class="warning"></p>
    {% else %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url acct_signup as signup_url %}
        {% endifsetting %}
    {% endif %}

{% block body %}  <br><br><br><br>

<table > 

<h2>Sign in to Mish Mash!</h2>


  <!--Login -->

        {% if form.errors %}
            <p>Your username and password didn't match, please try again.</p>
        {% endif %}

<form method="POST" action="{% url acct_login %}" autocapitalize="off">
{% csrf_token %}
<fieldset> {{ form|as_bootstrap }} </fieldset>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

   <div class="actions">
        <button type="submit" class="btn primary">{% trans "Log In" %}</button>
  <p> {%trans "Forgot your username or password?"%} <a href="{% url acct_passwd_reset %}">{% trans "CLICK HERE!" %}</a></p></td></tr>
</form> 
</div>

</table> 
        {%endblock%}
          </div> 

 </div>
 </body>
 </html>




