{% extends "site_base.html" %}
{% load account_tags %}
{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 


{% block head_title %} {% trans "Signup" %} 
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="style.css" />
{% endblock %} 
 <STYLE type="text/css">
 #main, #header, #logo, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 800px;
  margin: 20px auto;}

 table
{ margin: 400px 0 40px 0;
 width: 800px;
 margin: 10px auto;

}


#header
{ width: 7000px;
  height: 145px;}

.slogan
{ float: right; 
  padding-right: 225px;
  text-align: right; 
  font: 250% 'tangerine', arial; 
  color: #111;}
 
 body 
  { font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFFFFF url(pattern.png) fixed;
  color: #fff;}
  
 .button {
     font-size:15pt;
     color: white;
     border: 1px solid #FFF;
     background: navy;
 }
   .button1 {
     font-size:12pt;
     border: 1px solid #FFF;
     background: orange;
 }
 </STYLE>
{% block body %}<br><br>
  
                                                                      
  <div id="main">

        
        {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
        <div> {%block container%}
        <table>
          {% endblock %}
          {% else %}
          <br><br>
        <p><span class="slogan"><h1>{% trans "BECOME A MEMBER" %}</h1></span></p> 
        <form method="post" action="{% url acct_signup %}" autocapitalize="off">
        {% csrf_token %}
         
        <tr><td><font face="verdana,arial" size=5> <fieldset>{{ form|as_bootstrap }} </td></tr>
        </fieldset></font>
        </table
			{% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="actions">
                <button type="submit" class="btn primary">{% trans "Sign Up" %}</button>
            </div>
        {% endif %}

</form>
{% endblock %}</table></div></div>


       
