{% extends "site_base.html" %}
 <!--Brings forth navigation bar for page-->
{% load i18n %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit">
        {% block banner %}
        {% endblock %}
        </div>
        <!--Describe each member's Role within MishMash Project-->     
         <div class="row">
            <div class="span4">
            {% block column-1 %}
                <h3>ScrumMaster</h3>
                <p>Waldin Stone</p>
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-2 %}
                <h3>DB Administrator</h3>
                <p>Djonique Crisp</p>
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-3 %}
                <h3>Project Manager</h3>
                <p>Blanca Cambi</p>
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
