.servBox{width:250px;height:200px;background-color:#66CCFF; box-shadow: 10px 10px 5px #888888}
.servDesc{ word-wrap:normal}
.servButton{text-align:center}
.servButton input{height:35px;width:70px;padding:0}
#servListBlock div {float:left;margin-left:15px}
#mixContainer div{float:left}
#chListBlock input{height:auto;border-style:none;padding:0}



