{% extends "banner_base.html" %}
 <!--Brings forth navigation bar for page-->
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <!--General Description of MishMash Project-->
    <h1>{% trans "Welcome to Open Mish Mash" %}</h1>
    <p> <br>
        {% blocktrans %}
        <b>Open Mish Mash</b> is a Final Class Project intended to 
        provide an ideal of how different API's can be used to 
        create a Mashup.  Used API'S for this Project are <font color="blue">G</font>
        <font color="red">M</font><font color="yellow">A</font><font color="blue">I</font>
        <font color="green">L</font>
        & <font color="blue">TWITTER</font>. 
        {% endblocktrans %}
    </p>
    <br>
    <!--Description of the project services-->
    <h2>About This Project</h2>
    <p>
        {% blocktrans %}
        This project consists of a user creating a task.  The user 
        triggers an event and an action(e.i Notify/Post) is created
        by using Channels(e.i GMAIL/TWITTER)
        {% endblocktrans %}
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn primary large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
{% endblock %}
