{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
<!--Banner bar href to differet pages within MishMash Website-->
{% block nav %}
    {% if user.is_authenticated %}
        <ul>{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "PROFILE" %}</a></li>
             <li id="tab_profile"><a href="{% url channel %}">{% trans "SERVICES" %}</a></li>
            <li id="tab_notices"><a href="{% url invite %}">{% trans "INVITE" %}</a></li>
         {% endspaceless %}</ul>
        {%else%}<ul>
         <li id="tab_profile"><a href="{% url home %}">{% trans "HOME" %}</a></li>
         <li id="tab_profile"><a href="{% url channel %}">{% trans "SERVICES" %}</a></li>
         <li id="tab_profile"><a href="{% url invite %}">{% trans "INVITE" %}</a></li>
         </ul>
    {% endif %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}   {%endblock%}
    {%block new%}{%endblock%}   
    {% block extra_body %}{% endblock %}
    {%block content%} {%endblock%)
{% endblock %}

             