{% extends "banner_base.html" %}
 <!--Brings forth navigation bar for page-->
{% load i18n %}

{% block head_title %}{% trans "Channels" %}{% endblock %}

{%block banner%} 


{% block body %}
      <!--Information Services Page-->
      <h1>{%trans "MIXES"%}</h1> <hr> <h3>Mixes can be created by using Channels.</h3> {%endblock%}
      <center><img src="{{ STATIC_PREFIX }}images/mixes.png" width="220" height="180" alt="{%trans Communication%}" </a> </center> 
      <hr class ="main">
      <h1>{%trans "CHANNELS"%}</h1> <hr><h3>Channels can be used as a trigger or response to create a MISH MASH MIX!</h3> {%endblock%}  
			   <ul class="horizontal">
		      {% for channel in request.session.channel_list %}
			     <input type="image" src="{{ STATIC_PREFIX }}images/{{ channel.name }}.png" value="{{ channel.name }}" name="{{ channel.name }}"> 
		      {% endfor %}
			   </ul>
          
