{% extends "banner_base.html" %}
 <!--Brings forth navigation bar for page-->
{% load i18n %}
<!--Invite title-->
 {% block head_title %}{% trans "Invite" %}{% endblock %}

{%block banner%}

    
    {%block body%}
       <h1>{%trans "INVITE"%}</h1>{%endblock%} 
       <hr class ="main">
       <h3>Friend's Email:</h3><input type="text" name="email" size="40" >
       <p>
       
       <input type="submit" value="INVITE" class="btn primary">
      {%endblock%}
      <br><br><br><br>


