<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>{% block title %} {{pagetitle}} {% endblock %} </title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="style.css" />

 <STYLE type="text/css">
 #main, #header, #logo, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 60px auto;}

#header
{ width: 1000px;
  height: 145px;}
  
table
{ margin: 10px 0 30px 0;
 width: 900px;
 margin: 10px auto;
 height: 50px auto;
}

table tr th, table tr td
{ background: #F5F5F5;
  color: #111;
  padding: 7px 10px;
  text-align: left;}
  
table tr td
{ background: #FBFBFB;
  color: #111;
  border-top: 7px solid #FFF;}

  #logo
{ width: 950px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0 0 0px 10px;}

#logo h1
{ font: normal 350% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  float: left;}

#logo2
{ font: normal 700% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  text-align: center;}


#logo h1 a
{ color: #35BDF5;
  text-decoration: none;}

#logo h1 a:hover
{ color: #555;
  text-decoration: none;}
  
.slogan
{ 
  padding-right: 25px;
  text-align: right; 
  font: 500% 'tangerine', arial; 
  color: #111;
  float: left;
  }
 
 body 
  { font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F7F7F7 url(pattern.png) fixed;
  color: #555;}
  
 .button {
     font-size:15pt;
     color: white;
     border: 1px solid #006;
     background: blue;
     float: right;
     
 }
   .button1 {
     font-size:16pt;
     color: white;
     border: 1px solid #006;
     background: blue;
     float: right;
 
</style>



<body > 
    <!-- Header Starts-->    
       <div id="header"> {%block header%}
       <span>  <form action = 'profile.html'><H6> <input type="submit"  value="{{ user.username }}" class="btn primary" ></H6></form> 
        </span>
        <span id="logo"><h1>Open Mish Mash <a href="#">...</a></h1> </span>
        {%endblock%}
        </div>
  <!-- Header Ends-->
       <div id="container" >  {%block container%}
       <br><br>
       <table width=70% height=450 cellpadding='0' cellspacing='5' border='5' id='ap_table' bgcolor="blue"> 
       <td style="background-color:#E9E9DE;" align=center style="padding:30;padding-bottom:4" cellpadding='9' cellspacing='9' border='0' width='50%' height=50>
            <span id="slogan"><h1>MIXES</h1> </span> 
            <form action = 'mixes.html'><H6> <input type="submit"  value="MIXES" class = "button" ></H6></form>
            <form action = 'channel.html'><H6> <input type="submit"  value="CHANNELS" class = "button" ></H6></form>
            <form action = 'task.html'><H6> <input type="submit"  value="TASKS" class = "button" ></H6></form> 
      </td>
      <tr><td>
          <h3>SORT</h3> 
           <form>
            <select onchange="">
            <option  value="">SELECT </option>
            <option  value="new"> NEW </option>
            <option  value="popular"> POPULAR </option>
            </select>
            </form> 
        <br><textarea name="display" cols=80 rows=7 wrap=physical> </textarea>     
            
       </td>
       </table> 
{%endblock%}	   
  </body>
</html>
