{% extends "banner_base.html" %}
 <!--Brings forth navigation bar for page-->
{% load i18n %}

 {% block head_title %}{% trans "Mixes" %}{% endblock %}

{%block banner%}


 {%block body%}
         <!--Filter lookup for active and nonactive mixes-->
         <h1>{%trans "MY MIXES"%}</h1> {%endblock%} 
           <form>
            <select onchange="">
            <option  value=""> SELECT </option>
            <option  value="active"> ACTIVE </option>
            <option  value="inactive"> INACTIVE </option>
            <option  value="all"> ALL MIXES </option>
            </select>
            <br><textarea name="display" cols=50 rows=10 wrap=physical> </textarea></form>
            <!--Action taken on mixes-->
            <!--To delete mixes that are no longer used-->
            <!--To change status of each mix to ON/OFF-->   
           <form action = ''><H6> <input type="submit"  value="DELETE" class="btn primary" ></H6></form>
          <form action = ''><H6> <input type="submit"  value="TURN ON/OFF" class="btn primary" ></H6></form> 
          
{%endblock%}