{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{%block banner%}    

  <!--Buttons & Invite Starts-->
 
  {%block container%}
                            
        <!--Mixes Section Starts-->
      
       <h1>{%trans "MIXES"%}</h1> {%endblock%}  
		    {% include "mash/mash_base.html" %}
		    <center><form action="/mix/create/step{{ request.session.next }}/" method="post"><a id="edit-profile-box" href="/mix/create/step1/" class="btn primary">Create Mixes</a></form><h3>  OR </h3><a id="edit-profile-box" href="{% url viewtask %}" class="btn primary">View Mixes</a></form>  
		    </center>  
          <!--Mixes Section Ends-->    

		       <hr class = "main">
        <!--Channels Section Start -->
			     <h1> CHANNELS</h1>
           <br>
           <center>
           <a href="{% url channel%}"><img src="{{ STATIC_PREFIX }}images/gmail.png" width="150" height="200" vspace="" hspace="20" alt="{%trans Gmail%}"> </a>&nbsp; &nbsp;        
			     <a href="{% url channel%}"><img src="{{ STATIC_PREFIX }}images/twitter.png" width="150" height="200" vspace="0" hspace="20" alt="{%trans Twitter%}"> </a>&nbsp;  &nbsp;
			     <a href="{% url channel%}"><img src="{{ STATIC_PREFIX }}images/ebay.png" width="150" height="200" vspace="0" hspace="20" alt="{%trans eBAY%}"> </a>&nbsp; &nbsp;
			     <a href="{% url channel%}"><img src="{{ STATIC_PREFIX }}images/craigslist.png" width="150" height="200" vspace="0" hspace="20" alt="{%trans Craiglist%}"> </a>&nbsp; &nbsp;
           </center>
        <!--Channels Section End-->
		      <hr class = "main">
		      
           <!--Invite Section Starts-->
        <h1>{%trans "INVITE"%}</h1>             
          <h2> Your Friends to Open Mish Mash!</h2>
          <form action = 'invite.html'><a id="edit-profile-box" href="{% url invite %}" class="btn primary" >Invite</a>
          </form> 
         {%endblock%}
          <!--Invite Section Ends-->     
